/* handles weird background shapes */
/* requires JS */

.bgi {
    overflow: clip;
}

.background-blob {
    z-index: -2;
    opacity: 0.5;
    position: fixed;
    overflow: visible;
}

.background-blob > img {
    transform: translate(-50%, -50%);
}

.bgi1 {
    width: 40vh;
    top: 22.7vh;
    left: 7vw;
}

.bgi2 {
    width: 51vh;
    top: 60vh;
    left: 68vw;
}

.bgi3 {
    width: 40vh;
    top: 91vh;
    left: 20vw;
}

.bgi4 {
    width: 27.7vh;
    top: 12.3vh;
    left: 80.3vw;
}