@import "folder.css";

.header {
    background-color: var(--primary-colour);
    /* height: 250px; */
    padding: 2rem;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-urls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    align-content: center;
}

@media (max-width: 66ch) {
    .header-content {
        flex-direction: column;
    }

    .header-urls {
        flex-direction: column;
        gap: 0rem;
    }
}
