@import "folder.css";

.header {
    background-color: oklch(from var(--primary-colour) l c h / 10%);
    /* height: 250px; */
    padding: 2rem;
    border-bottom: 0.125rem solid rgba( 255, 255, 255, 0.18 );
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-urls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    align-content: center;
}

@media (max-width: 66ch) {
    .header-content {
        flex-direction: column;
    }

    .header-urls {
        flex-direction: column;
    }

    .website-title {
        text-align: center;
    }

    .navi-ctrl {
        align-items: center;
    }

    .hamburger-menu {
        margin-bottom: 2rem;
    }
}

@media (min-width: 99ch) {
    .hamburger-menu {
        display: none;
    }

    .header-urls {
        height: auto;
    }
}