a {
    transition: scale 200ms ease-in-out;
    transform-origin: center;
}

.content-hypr, .content-hypr:visited {
    color: oklch(68.23% 0.1881 295.1);
}

.header-urls > * {
    text-decoration: none;
}

.header-urls > *:hover {
    scale: 90%;
}
