a {
    transition: scale 200ms ease-in-out;
    transform-origin: center;
}

.content-hypr, .content-hypr:visited {
    color: oklch(72.82% 0.1606 296.62);
}

.header-urls > * {
    text-decoration: none;
}

.header-urls > *:hover {
    scale: 90%;
}
