@import "fonts.css";
@import "headers.css";
@import "background.css";
@import "links.css";
@import "animations.css";
@import "preformatted.css";
@import "sociallinks.css";

/* variables */
:root {
    --bgc: #11151d;
    --secondary-colour: oklch(61.66% 0.1074 53.17);
    --primary-colour: oklch(72.77% 0.1758 42.4);
    --border-rounding: 1rem;
    --content-width: 99ch;

    interpolate-size: allow-keywords;
}

/* HTML */
html {
    background-color: var(--bgc);
    color: white;
    background-repeat: repeat;
    font-family: 'Lexend', Tahoma, Geneva, Verdana, sans-serif;
    /* background-image: url("/img/nnnoise.svg"); */
}

/* grid n stuff */
body {
    margin: 0;
    padding: 0;
}

.main {
    margin-right: auto;
}

.glass {
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

.glass-panel {
    /* background: rgba( 255, 255, 255, 0 ); */
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    border-radius: var(--border-rounding);
    border: 0.125rem solid rgba( 255, 255, 255, 0.18 );
}

.body-content {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    width: min(var(--content-width), 90vw) !important;
    margin: auto;
    
    /* display: grid; */

    /* grid-template-columns: 1fr 4fr; */
}

@media (max-width: 99ch) {
    .body-content {
        flex-direction: column;
    }
}

.body-content > * {
    margin-bottom: 1rem;
    padding: 1rem;
}

.titlebar-hypr {
    font-weight: 500;
}

.titlebar-hypr-sel {
    font-weight: 700;
    background-color: white;
    color: var(--primary-colour);
    padding: 1rem;
    border-radius: var(--border-rounding);
}

.titlebar-hypr {
    color: white;
}

.sidebar {
    height: min-content;
    padding-right: 5ch;
}

.website-title {
    font-size: 2rem;
    font-family: 'Work Sans';
    font-weight: 900;
    font-style: italic;
}

.visually-hidden {
    border: 0;
    clip-path: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }