@import "fonts.css";
@import "headers.css";

/* variables */
:root {
    --bgc: #3f3f3f;
    --secondary-colour: oklch(61.66% 0.1074 53.17);
    --primary-colour: oklch(72.77% 0.1758 42.4);
}

/* HTML */
html {
    background-color: var(--bgc);
    color: white;
    background-repeat: repeat;
    /* background-image: url("/img/nnnoise.svg"); */
}

/* grid n stuff */
body {
    margin: 0;
    padding: 0;
}

.glass {
    /* background: rgba( 255, 255, 255, 0 ); */
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 1rem;
    border: 0.125rem solid rgba( 255, 255, 255, 0.18 );
}

.body-content {
    padding: 1rem;
}

.body-content > * {
    margin-bottom: 1rem;
    padding: 1rem;
}

/* .website-title {
    font-style: italic;
} */